
<div class="card">
    <h1><%=t '.title' %></h1>

    <%= render 'form', category: @category %>

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
		

    
