<%if @category.errors.any?%>
    <%=render 'form', category: @category %>
<%else%>
    <div class="card text-center">
	<div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
	</div>
        <h3 class="alert-success"><%=t('.success') %></h3> 
	<button type="button" class="btn btn-default" data-dismiss="modal"><%=t(:close) %></button>
     </div>    
<%end%>

