<% if modelo.errors.any? %>
    <div id="error_explanation">
	<h2><%= t(:errors) %> :</h2>

	<ul>
	    <% modelo.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	    <% end %>
	</ul>
    </div>
<% end %>
